@model IEnumerable<Trazabilidad.Repositorio.Entidades.Bloque>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hash_anterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiempo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hash_anterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tiempo)
            </td>
            <td>

                    <a href="/CadenaBloque/Editar/@item.Id">Editar</a> |
                    <a href="/CadenaBloque/Eliminar/@item.Id">Eliminar</a>

            </td>
        </tr>
}
    </tbody>
</table><br />
<p>
    <a asp-controller="CadenaBloque" asp-action="Agregar" class="btn btn-primary">Agregar</a>  |
    <a asp-controller="CadenaBloque" asp-action="DefinirIntegridad" class="btn btn-primary">Analizar la integridad</a>
</p>